* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.main-div{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;

}

.navbar-div {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: gray;
  
}

.navbar-div > button {
  max-width: 100%;
  align-items: center;
  
}

.card-div {
    margin-bottom: 0%;
    width: 100%;
}

.card-div > img{
  width: 35%;
  margin-bottom: 0;
}

.card-info {
  width: 35%;
  align-content: center;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: gray;
}




